body {
    font-family: helvetica;
    max-width: 900px;
    margin: 0 auto;
}

.condition {
    border-top: 1px solid hsl(0, 0%, 0%);
}

ul {
    padding: 0;
    list-style-type: none;
}

.vips li {
    text-decoration: underline;
    cursor: pointer;
    margin: .7rem;
}

.table-name {
    text-transform: uppercase;
}

.container {
    margin: .7rem
}