body {
    font-family: arial;
    max-width: 900px;
    margin: 0 auto;

}

.condition {
    border-top: 1px solid hsl(0, 0%, 65%);
}

ul {
    padding: 0;
    list-style-type: none;
}

.vips li {
    text-decoration: underline;
    cursor: pointer;
    margin: .7rem
}

.condition li {
    margin-left: .7rem;
    font-size: .95rem;

}

.table-name {
    text-transform: uppercase;
}

.App {
    margin-top: .7rem;
    margin-left: .7rem;
    margin-right: .7rem;
}

table {
    width: 40%;

    border-spacing: .5em;
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}


td:first-child {
    font-size: .85rem;
    color: hsl(0, 0%, 30%)
}

td:nth-child(2) {
    font-size: .9rem;
    font-weight: 600;
    color: hsl(0, 0%, 15%)

}

.vip-container {
    margin-bottom: .7rem;
}

.vip-container input {
    margin: .5rem 0;
}
